Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, publish-warning_release-builder

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#221)
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#222)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#223)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Include samples/certs/Makefile in distribution
  pkg/build/archive.go
Due: none

Include samples/certs/Makefile in distribution (#224)
  pkg/build/archive.go
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#226)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Include samples/certs/Makefile in distribution (#225)
  pkg/build/archive.go
Due: none

Automator: update common-files@master in istio/release-builder@master (#227)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.6 in istio/release-builder@release-1.6
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.6 in istio/release-builder@release-1.6 (#228)
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Due: none

Trigger 1.5.3 build
  release/trigger-build
Due: build-warning_release-builder

Trigger 1.5.3 build (#229)
  release/trigger-build
Due: build-warning_release-builder

Fix the logic to identify SHA from a git tag (#194)
  pkg/source.go
Due: none

Trigger 1.6 beta 1
  release/trigger-build
Due: build-warning_release-builder

Trigger publish of 1.6 beta 1
  release/trigger-publish
Due: publish-warning_release-builder

Automator: update common-files@master in istio/release-builder@master (#232)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Publish 1.6 beta 1
  release/trigger-publish
Due: publish-warning_release-builder

Trigger 1.6 beta 1 (#230)
  release/trigger-build
Due: build-warning_release-builder

Trigger publish of 1.6 beta 1 (#231)
  release/trigger-publish
Due: publish-warning_release-builder

Automator: update common-files@release-1.6 in istio/release-builder@release-1.6
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@release-1.6 in istio/release-builder@release-1.6 (#234)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Build 1.6.0-rc.0
  release/trigger-build
Due: build-warning_release-builder

Publish 1.6.0-rc.0
  release/trigger-publish
Due: publish-warning_release-builder

Trigger publish of 1.4.9
  release/trigger-publish
Due: publish-warning_release-builder

Trigger publish of 1.4.9 (#237)
  release/trigger-publish
Due: publish-warning_release-builder

Trigger publish of 1.5.3
  release/trigger-publish
Due: publish-warning_release-builder

Trigger publish of 1.5.3 (#238)
  release/trigger-publish
Due: publish-warning_release-builder

trigger 1.5.4 build
  release/trigger-build
Due: build-warning_release-builder

Build 1.5.4
  release/trigger-publish
Due: publish-warning_release-builder

trigger 1.5.4 build (#239)
  release/trigger-build
Due: build-warning_release-builder

Build 1.5.4 (#240)
  release/trigger-publish
Due: publish-warning_release-builder

Automator: update common-files@release-1.5 in istio/release-builder@release-1.5
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@release-1.5 in istio/release-builder@release-1.5 (#241)
  Makefile
  common/.commonfiles.sha
Due: none
