Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, publish-warning_release-builder

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:2019-10-11T13-37-52
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:2019-10-11T13-37-52
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

Fix dry-run script (istioctl needs a real version)
  test/publish.sh
Due: none

Set the right branches for the build process (#144)
  release/build.sh
  test/publish.sh
Due: none

Automator: update common-files@master in istio/release-builder@master
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#146)
  Makefile
  common/.commonfiles.sha
Due: none

Build 1.5.0-beta.3 (#145)
  release/trigger-build
Due: build-warning_release-builder

revert and reload
  release/trigger-build
Due: build-warning_release-builder

retrigger build
  release/trigger-build
Due: build-warning_release-builder

add an empty line
  release/trigger-build
Due: build-warning_release-builder

Retrigger beta3 (#147)
  release/trigger-build
Due: build-warning_release-builder

Trigger beta-3 build for release 1.5
  release/trigger-build
Due: build-warning_release-builder

Trigger beta-3 build for release 1.5 (#148)
  release/trigger-build
Due: build-warning_release-builder

Trigger publish of beta3 for release-1.5
  release/trigger-publish
Due: publish-warning_release-builder

Trigger publish of beta3 for release-1.5 (#149)
  release/trigger-publish
Due: publish-warning_release-builder

Document how to build locally
  README.md
  example/manifest.yaml
Due: none

Fix table and docker command
  README.md
Due: none

Document how to build locally (#150)
  README.md
  example/manifest.yaml
Due: none

Automator: update common-files@master in istio/release-builder@master (#151)
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#152)
  Makefile
  common/.commonfiles.sha
Due: none

Minor improvements to the release builder
  pkg/util/files.go
  pkg/validate/validate.go
Due: none

Minor improvements to the release builder (#154)
  pkg/util/files.go
  pkg/validate/validate.go
Due: none

Add support for publishing grafana dashboards
  README.md
  pkg/build/build.go
  pkg/build/grafana.go
  pkg/manifest.go
  pkg/model/model.go
  pkg/publish/cmd.go
  pkg/publish/grafana.go
  pkg/validate/validate.go
  release/build.sh
Due: none

Make grafana default build output
  pkg/manifest.go
Due: none

trigger beta4 or the last community testing day.
  release/trigger-build
Due: build-warning_release-builder

Release 1 5 beta4 (#155)
  release/trigger-build
Due: build-warning_release-builder

Publish release-1.5-beta4
  release/trigger-publish
Due: publish-warning_release-builder

Publish release-1.5-beta4 (#156)
  release/trigger-publish
Due: publish-warning_release-builder

Add test dashboards
  test/publish.sh
Due: none

Update trigger-build
  release/trigger-build
Due: build-warning_release-builder

Update trigger-build (#157)
  release/trigger-build
Due: build-warning_release-builder

Publish 1.5.0-beta.5
  release/trigger-publish
Due: publish-warning_release-builder

Publish 1.5.0-beta.5 (#158)
  release/trigger-publish
Due: publish-warning_release-builder

Add grafana to build step (#153)
  README.md
  pkg/build/build.go
  pkg/build/grafana.go
  pkg/manifest.go
  pkg/model/model.go
  pkg/publish/cmd.go
  pkg/publish/grafana.go
  pkg/validate/validate.go
  release/build.sh
  test/publish.sh
Due: none

Trigger publish of 1.4.6
  release/trigger-publish
Due: publish-warning_release-builder

Trigger publish of 1.4.6 (#159)
  release/trigger-publish
Due: publish-warning_release-builder

trigger 1.5.0
  release/trigger-build
Due: build-warning_release-builder

trigger 1.5.0 (#160)
  release/trigger-build
Due: build-warning_release-builder

Automator: update common-files@master in istio/release-builder@master
  Makefile
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
