Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, publish-warning_release-builder

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$

Automator: update common-files@master in istio/release-builder@master (#161)
  Makefile
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#162)
  Makefile
  common/.commonfiles.sha
Due: none

Publish 1.5.0
  release/trigger-publish
Due: publish-warning_release-builder

Publish 1.5.0 (#163)
  release/trigger-publish
Due: publish-warning_release-builder

Automator: update common-files@master in istio/release-builder@master
  Makefile
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#164)
  Makefile
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#165)
  Makefile
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#166)
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#167)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: none

Create .gitignore
  .gitignore
Due: none

Automator: update common-files@master in istio/release-builder@master (#168)
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#169)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Fix grafana inputs field name
  pkg/build/grafana.go
Due: none

Fix grafana inputs field name (#170)
  pkg/build/grafana.go
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#171)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Trigger a 1.6.0-alpha.0 build
  release/trigger-build
Due: build-warning_release-builder

Trigger a 1.6.0-alpha.0 build (#172)
  release/trigger-build
Due: build-warning_release-builder

Publish 1.6.0-alpha.0
  release/trigger-publish
Due: publish-warning_release-builder

Add grafana token to official publish
  release/publish.sh
Due: none

Add grafana token to official publish (#174)
  release/publish.sh
Due: none

Publish 1.6.0-alpha.0 (#173)
  release/trigger-publish
Due: publish-warning_release-builder

Automator: update common-files@release-1.5 in istio/release-builder@release-1.5
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@release-1.5 in istio/release-builder@release-1.5 (#175)
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#176)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Trigger publish of 1.4.7
  release/trigger-publish
Due: publish-warning_release-builder

Trigger publish of 1.4.7 (#177)
  release/trigger-publish
Due: publish-warning_release-builder

Publish 1.5.1
  release/trigger-publish
Due: publish-warning_release-builder

Publish 1.5.1 (#178)
  release/trigger-publish
Due: publish-warning_release-builder

addition of ARMv7 and ARM64 builds
  README.md
  pkg/build/archive.go
Due: none

Automator: update common-files@master in istio/release-builder@master
  Makefile
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#180)
  Makefile
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

update validation to check amd64 archive
  pkg/validate/validate.go
Due: none
