Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, publish-warning_release-builder

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:2019-10-11T13-37-52
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:2019-10-11T13-37-52
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

Automator: update common-files@master in istio/release-builder@master
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#125)
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/lint_go.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#126)
  common/.commonfiles.sha
  common/scripts/lint_go.sh
Due: none

Trigger 1.5 beta0 build
  release/trigger-build
Due: build-warning_release-builder

Trigger 1.5 beta0 build (#127)
  release/trigger-build
Due: build-warning_release-builder

Publish beta.0
  release/trigger-publish
Due: publish-warning_release-builder

Publish beta.0 (#128)
  release/trigger-publish
Due: publish-warning_release-builder

Automator: update common-files@master in istio/release-builder@master (#129)
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Automator: update common-files@master in istio/release-builder@master (#130)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Trigger 1.5-alpha.1 build
  release/trigger-build
Due: build-warning_release-builder

Trigger 1.5-beta.1 build
  release/trigger-build
Due: build-warning_release-builder

Trigger 1.5-beta.1 build (#132)
  release/trigger-build
Due: build-warning_release-builder

Publish 1.5.0-beta.1
  release/trigger-publish
Due: publish-warning_release-builder

Publish 1.5.0-beta.1 (#133)
  release/trigger-publish
Due: publish-warning_release-builder

Publish 1.4.4
  release/trigger-publish
Due: publish-warning_release-builder

Publish 1.4.4 (#134)
  release/trigger-publish
Due: publish-warning_release-builder

Trigger 1.4.5 build
  release/trigger-build
Due: build-warning_release-builder

Automator: update common-files@master in istio/release-builder@master (#135)
  Makefile
  common/.commonfiles.sha
Due: none

Trigger 1.4.5 build (#136)
  release/trigger-build
Due: build-warning_release-builder

Automator: update common-files@master in istio/release-builder@master (#137)
  Makefile
  common/.commonfiles.sha
Due: none

trigger beta 2
  release/trigger-build
Due: build-warning_release-builder

trigger beta 2 (#138)
  release/trigger-build
Due: build-warning_release-builder

Remove legacy helm installation
  pkg/build/archive.go
Due: none

Fix validate
  pkg/validate/validate.go
Due: none

TEST do not merge
  pkg/validate/validate.go
Due: none

fix test
  test/publish.sh
Due: none

Remove legacy helm installation (#139)
  pkg/build/archive.go
  pkg/validate/validate.go
  test/publish.sh
Due: none

publishing beta 2
  release/trigger-publish
Due: publish-warning_release-builder

publishing beta 2 (#141)
  release/trigger-publish
Due: publish-warning_release-builder

Fix more references to Helm
  pkg/build/archive.go
  pkg/build/build.go
  pkg/build/helm.go
Due: none

Fix more references to Helm (#142)
  pkg/build/archive.go
  pkg/build/build.go
  pkg/build/helm.go
Due: none

Publish Istio 1.4.5
  release/trigger-publish
Due: publish-warning_release-builder

Publish Istio 1.4.5 (#143)
  release/trigger-publish
Due: publish-warning_release-builder

Set the right branches for the build process
  release/build.sh
Due: none

Build 1.5.0-beta.3
  release/trigger-build
Due: build-warning_release-builder

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
