Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, publish-warning_release-builder

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:2019-10-11T13-37-52
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:2019-10-11T13-37-52
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

Fix grafana publish
  release/build.sh
  test/publish.sh
Due: none

Fix grafana publish (#181)
  release/build.sh
  test/publish.sh
Due: none

addition of ARMv7 and ARM64 builds (#179)
  README.md
  pkg/build/archive.go
  pkg/validate/validate.go
Due: none

Automator: update common-files@master in istio/release-builder@master
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master (#182)
  Makefile
  common/.commonfiles.sha
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#183)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Trigger a 1.6.0-alpha.1 build
  release/trigger-build
Due: build-warning_release-builder

Trigger a 1.6.0-alpha.1 build (#184)
  release/trigger-build
Due: build-warning_release-builder

Trigger 1.6.0-alpha.1 to be published
  release/trigger-publish
Due: publish-warning_release-builder

Trigger 1.6.0-alpha.1 to be published (#185)
  release/trigger-publish
Due: publish-warning_release-builder

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#186)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#187)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#188)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Update archive.go
  pkg/build/archive.go
Due: none

Automator: update common-files@master in istio/release-builder@master (#189)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
  pkg/build/archive.go
Due: none

Automator: update common-files@master in istio/release-builder@master (#190)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#191)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Fix the logic to identify SHA from a git tag
  pkg/source.go
Due: none

Fix the logic to identify SHA from a git tag (#193)
  pkg/source.go
Due: none

Trigger a 1.4.8 build
  release/trigger-build
Due: build-warning_release-builder

Update manifest chart and script paths
  pkg/build/archive.go
  pkg/build/grafana.go
Due: none

Change charts path to manifests/
  pkg/build/archive.go
  pkg/validate/validate.go
Due: none

Update manifest chart and script paths (#197)
  pkg/build/archive.go
  pkg/build/grafana.go
  pkg/validate/validate.go
Due: none

Add gen-charts target to make istioctl
  pkg/build/archive.go
Due: none

Add gen-charts target to make istioctl (#198)
  pkg/build/archive.go
Due: none

Automator: update common-files@master in istio/release-builder@master (#199)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Trigger a 1.4.8 build (#196)
  release/trigger-build
Due: build-warning_release-builder

Build 1.4.8
  release/trigger-build
Due: build-warning_release-builder

Build 1.4.8 (#200)
  release/trigger-build
Due: build-warning_release-builder

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
