Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, publish-warning_release-builder

build-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:2019-10-11T13-37-52
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

publish-warning_release-builder:
  decorate: true
  optional: true
  spec:
    containers:
    - command:
      - release/build-warning.sh
      image: gcr.io/istio-testing/build-tools:2019-10-11T13-37-52
      name: ''
      resources:
        limits:
          cpu: '3'
          memory: 24Gi
        requests:
          cpu: 500m
          memory: 3Gi
  ...

Generate compiled in charts for operator binary
  pkg/build/docker.go
Due: none

Generate compiled in charts for operator binary (#242)
  pkg/build/docker.go
Due: none

Generate compiled in charts for operator binary (#243)
  pkg/build/docker.go
Due: none

Build 1.6.0-rc.0 (#235)
  release/trigger-build
Due: build-warning_release-builder

Publish 1.6.0-rc.0 (#236)
  release/trigger-publish
Due: publish-warning_release-builder

Triger 1.6 rc1
  release/trigger-build
Due: build-warning_release-builder

Trigger 1.6 rc1 publish
  release/trigger-publish
Due: publish-warning_release-builder

Triger 1.6 rc1 (#244)
  release/trigger-build
Due: build-warning_release-builder

Trigger 1.6 rc1 publish (#245)
  release/trigger-publish
Due: publish-warning_release-builder

Trigger 1.6 rc2
  release/trigger-build
Due: build-warning_release-builder

Trigger publish of 1.6
  release/trigger-publish
Due: publish-warning_release-builder

Trigger 1.6 rc2 (#247)
  release/trigger-build
Due: build-warning_release-builder

Trigger publish of 1.6 (#248)
  release/trigger-publish
Due: publish-warning_release-builder

Print out manifest in publish warning
  release/publish-warning.sh
Due: none

Print out manifest in publish warning (#249)
  release/publish-warning.sh
Due: none

Print out manifest in publish warning (#250)
  release/publish-warning.sh
Due: none

Print out manifest in publish warning (#251)
  release/publish-warning.sh
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#252)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Publish 1.6.0 final
  release/trigger-publish
Due: publish-warning_release-builder

Build 1.6.0
  release/trigger-build
Due: build-warning_release-builder

Build 1.6.0 (#254)
  release/trigger-build
Due: build-warning_release-builder

Automator: update common-files@master in istio/release-builder@master (#255)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Trigger 1.6 publish
  release/trigger-publish
Due: publish-warning_release-builder

Trigger 1.6 publish (#256)
  release/trigger-publish
Due: publish-warning_release-builder

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#257)
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#258)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Trigger the build of 1.6.1
  release/trigger-build
Due: build-warning_release-builder

Publish 1.6.1
  release/trigger-publish
Due: publish-warning_release-builder

Automator: update common-files@master in istio/release-builder@master (#261)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#262)
  common/.commonfiles.sha
  common/scripts/run.sh
Due: none

Trigger the build of 1.6.1 (#259)
  release/trigger-build
Due: build-warning_release-builder

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$
