Repository istio/release-builder: changes, and which Prow jobs are due for each by the changed paths.
All: build-warning_release-builder, publish-warning_release-builder

Path conditions:
  build-warning_release-builder: any of: ^release/trigger-build$
  publish-warning_release-builder: any of: ^release/trigger-publish$

Trigger another 1.4.8 build
  release/trigger-build
Due: build-warning_release-builder

Trigger another 1.4.8 build (#201)
  release/trigger-build
Due: build-warning_release-builder

Trigger another 1.4.8 build (#202)
  release/trigger-build
Due: build-warning_release-builder

trigger 1.5.2 build
  release/trigger-build
Due: build-warning_release-builder

trigger 1.5.2 build (#203)
  release/trigger-build
Due: build-warning_release-builder

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/check_no_modify.sh
  common/scripts/nomodify.md5
Due: none

Automator: update common-files@master in istio/release-builder@master (#204)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/check_no_modify.sh
  common/scripts/nomodify.md5
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master (#205)
  common/.commonfiles.sha
  common/config/license-lint.yml
Due: none

Automator: update common-files@master in istio/release-builder@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Automator: update common-files@master in istio/release-builder@master (#206)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none

Trigger 1.6 alpha 2 build
  release/trigger-build
Due: build-warning_release-builder

Automator: update common-files@master in istio/release-builder@master (#208)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/check_no_modify.sh
  common/scripts/nomodify.md5
Due: none

Trigger 1.6.0-alpha.2 to be published
  release/trigger-publish
Due: publish-warning_release-builder

Trigger publish of 1.4.8
  release/trigger-publish
Due: publish-warning_release-builder

Trigger 1.6 alpha 2 build (#209)
  release/trigger-build
Due: build-warning_release-builder

Trigger 1.6.0-alpha.2 to be published (#210)
  release/trigger-publish
Due: publish-warning_release-builder

Trigger publish of 1.4.8 (#211)
  release/trigger-publish
Due: publish-warning_release-builder

Trigger publish on 1.5.2
  release/trigger-publish
Due: publish-warning_release-builder

Trigger publish on 1.5.2 (#212)
  release/trigger-publish
Due: publish-warning_release-builder

Update common files
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Update common files (#213)
  common/.commonfiles.sha
  common/Makefile.common.mk
Due: none

Update codeowners
  CODEOWNERS
Due: none

Update codeowners (#214)
  CODEOWNERS
Due: none

Set branches
  release/build.sh
Due: none

Set branches (#215)
  release/build.sh
Due: none

Trigger 1.6 beta 0
  release/trigger-build
Due: build-warning_release-builder

Trigger 1.6 beta 0 (#216)
  release/trigger-build
Due: build-warning_release-builder

Update build.sh
  release/build.sh
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Update build.sh (#217)
  CODEOWNERS
  release/build.sh
Due: none

Retrigger 16 beta 0
  release/trigger-build
Due: build-warning_release-builder

Retrigger 16 beta 0 (#218)
  release/trigger-build
Due: build-warning_release-builder

Publish 1.6 beta 0
  release/trigger-publish
Due: publish-warning_release-builder

Publish 1.6 beta 0 (#219)
  release/trigger-publish
Due: publish-warning_release-builder

Automator: update common-files@master in istio/release-builder@master (#220)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Due: none
